/*global settings*/
body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;

}


/*Footer Bar*/
.footer{
    display: flex;
    justify-content: flex-start;
    background-color: #1f2937;
    padding: 30px 0px;
}

.footer-logo{
    margin-left: 150px;
    color: #f9faf8;
    font-size: 24px;
}

.link-one{
    margin-left: auto;
    font-size: 18px;
    color: #e5e7eb;
}

.link-two{
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 25px;
}

.link-three{
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 150px;
    margin-left: 25px;
}

/*Media*/

.media
{
    display: flex;
}